body{
    /* Lucida Grande font with a sans-serif fallback*/
    font-family: "Lucida Grande", sans-serif;
    color:white;
    background-color: black;
  }

  h1{
    font-size: 64px;
    text-align: center;
  }

  h2{
    font-size: 32px;
    text-shadow: 4px 4px 2px black;
  }

  p{
    font-size: 16px;
    padding-top: 15px;
  }

  img{
    width: 550px;
    margin-right: auto; 
    margin-left: auto;
    display: block;
  }

  div{
    height: 100px;
    padding: 30px;
}

#intro{
    text-align: left;
}
#red{
    text-align: right;
    background-color:red;
}

#blue{
    background-color:blue;
    text-align: left;
}

#yellow{
    text-align: right;
    background-color:yellow;
    color: black;
}

#yellow h2{
    text-shadow: 4px 4px 2px gray;
}

#green{
    text-align: left;
    background-color:green; 
}

footer{
    padding-bottom: 15px;
    text-align: center;
}